@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  background-image: url('assets/nitte.png');
  background-size: cover;
  background-position: center;
}